$font-size-base: 0.875rem; // Assumes the browser default, typically `16px` -> to 14px;
$line-height-base: 1.62;
$primary-color: #4b5cda;
$primary-black: #000;

$dark-bg: #e7e6f6;
$dark-white: #fcfbf4;
$gray-bg: #f7f7f7;
$secondary-color: #b3bad1;
$secondary-bg: #f7f9fe;
$silver: #d8d8d8;
$gold: #f4ae2d;
$diamond: #00e7c5;

$text-green: #00b32a;
$text-gray: #7e859b;
$dark-gray: #404553;

$primary-blue: #0b0953;
$primary-green: #6ab31b;

$content-padding: 110px;
$content-padding-sm: 66px;

$danger-color: #ff6666;

$accent-color: #c9a0dc;
$primary-black: #000;
$secondary-text: #b3bad1;
$secondary-accent-color: #f4f5f6;
$third-accent-color: #d2d8df;
$dark-color: #797a7c;
$rating-color: $accent-color;
